.has-js .holder,
.has-js #magic-shield,
.has-js .more-menu {
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.more-menu {
	max-width: 105em;
	margin: 0 auto;
}
.has-js .more-menu {
	z-index: 100;
	width: 28em;
	min-height: 100vw;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -40em;
	padding: 3.2em 2em 0;
	background-color: #7b0e7f;
	background-image: url(../../img/symphony-purple.png);
	-webkit-box-shadow: 1em 0 2.5em 1.3em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1em 0 2.5em 1.3em rgba(0, 0, 0, 0.5);
	box-shadow: 1em 0 2.5em 1.3em rgba(0, 0, 0, 0.5);
}
.admin-bar.has-js .more-menu {
	padding-top: 6.25em;
}
.nav-open .more-menu {
	right: 0;
}
.more-menu .close {
	display: none;
	font-size: 2em;
	border-bottom: 0 none;
	margin-bottom: 1em;
}
.has-js .more-menu .close {
	display: block;
}
.has-js .more-menu .alt-text {
	visibility: hidden;
}
.more-menu .title {
	font-size: 3.8em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-style: normal;
}
.has-js .more-menu .title {
	display: none;
}
.more-menu ul {
	padding-left: 0;
}
.more-menu li {
	list-style: none;
	line-height: 1.25;
	font-size: 1.2em;
}
.more-menu li:first-child a {
	border-top: 0;
}
.more-menu li a {
	border: 0 none;
	border-top: 0.25em solid #C678BD;
	border-top-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	font-size: 1.6em;
	padding: 0.5em 0 0.5em 1.5em;
	font-family: 'Crete Round', Arial, Helvetica, sans-serif;
	text-align: left;
	display: block;
}
.more-menu li a:hover,
.more-menu li a:focus {
	background-color: #B47FB6;
	background-color: rgba(180, 127, 182, 0.5);
}
.more-menu .social-links {
	padding-top: 0.75em;
	overflow: auto;
	height: 100%;
}
.more-menu .social-links a {
	color: #fff;
	float: left;
	width: 33.333%;
	text-align: center;
	font-size: 2.5em;
	border-bottom: 0;
}
.more-menu .social-links a:hover,
.more-menu .social-links a:focus {
	color: #B47FB6;
	color: rgba(180, 127, 182, 0.5);
}
#magic-shield {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.nav-open #magic-shield {
	z-index: 99;
	background-color: rgba( 255, 255, 255, 0.75);
}
