.new-menu {
	clear: both;
	padding-bottom: 0;
	padding: 0 4em;
	background-color: #B47FB6;
	background-color: rgba(180, 127, 182, 0.5);
}
.new-menu ul {
	overflow: auto;
	height: 100%;
}
.new-menu li {
	float: left;
	list-style: none;
	font-size: 1.8em;
}
.new-menu a {
	display: block;
	text-align: center;
	padding: 0.6em 2em;
	border-bottom: none;
	color: #fff;
}
.new-menu a:hover,
.new-menu a:focus {
	background-color: #7b0e7f;
}
